@charset "UTF-8";
	.avatar img{display: block; width: 45px; height: 45px; margin-left:20px;padding:0; border-radius: 2px;}
	.person img{width: 40px; height: 40px; margin-left:20px;padding:0; border-radius: 10px;}
	.person .name{color:red;}
	.person .layui-nav-child{top:42px;}
	.person .layui-icon{font-size:15px;}
	.right{padding-left:20px;}
	.right .chat::-webkit-scrollbar {
        display: none;
    }
	.right .chat{height:500px;overflow:scroll;}
	:root {
	  --white: #fff;
	  --black: #000;
	  --bg: #f8f8f8;
	  --grey: #999;
	  --dark: #1a1a1a;
	  --light: #e6e6e6;
	  --wrapper: 1000px;
	  --blue: #00b0ff;
	}
	.right .bubble {
	  position: relative;
	  font-size: 16px;
	  display: inline-block;
	  clear: both;
	  margin-bottom: 8px;
	  padding: 13px 14px;
	  vertical-align: top;
	  border-radius: 5px;
	}
.right .bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    -webkit-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);
}
.right .bubble.you {
  float: left;
  color: var(--white);
  background-color: var(--blue);
  align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
          animation-name: slideFromLeft;
}
.right .bubble.you:before {
    left: -3px;
    background-color: var(--blue);
}
.right .bubble.me {
  float: right;
  color: var(--dark);
  background-color: #eceff1;
  align-self: flex-end;
  -webkit-animation-name: slideFromRight;
          animation-name: slideFromRight;
}
.right .bubble.me:before {
  right: -3px;
  background-color: #eceff1;
}
.write {
	display:inline-block;
    bottom: 29px;
    margin: 0px 10px 5px;
    left: 30px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px;
}
.write .write-link.smiley:before {
  display: inline-block;
  float: left;
  width: 20px;
  position:relative;
  height: 42px;
  content: '';
  background-image: url("/guomanwang/resources/img/smiley.png");
  background-repeat: no-repeat;
  background-position: center;
}
.write .write-link.send:before {
  display: inline-block;
  float: right;
  width: 20px;
  height: 42px;
  margin-right: 11px;
  content: '';
  background-image: url("/guomanwang/resources/img/send.png");
  background-repeat: no-repeat;
  background-position: center;
}
.write .messages {
  margin-top: 10px;
  font-size: 16px;
  float: left;
  min-width: 200px;
  max-width:680px;
  padding: 0 10px;
  color: var(--dark);
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}