<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guomanwang.mapper.OperaMapper" >
  <resultMap id="BaseResultMap" type="guomanwang.domain.Opera" >
    <id column="op_id" property="opId" jdbcType="INTEGER" />
    <result column="op_name" property="opName" jdbcType="VARCHAR" />
    <result column="op_url" property="opUrl" jdbcType="VARCHAR" />
    <result column="op_desc" property="opDesc" jdbcType="VARCHAR" />
    <result column="op_photourl" property="opPhotourl" jdbcType="VARCHAR" />
    <result column="op_updateto" property="opUpdateto" jdbcType="VARCHAR" />
    <result column="op_type" property="opType" jdbcType="VARCHAR" />
    <result column="op_iframeurl" property="opIframeurl" jdbcType="VARCHAR" />
    <result column="op_time" property="opTime" jdbcType="TIMESTAMP" />
    <result column="op_status" property="opStatus" jdbcType="INTEGER" />
    <result column="op_collectnum" property="opCollectnum" jdbcType="INTEGER" />
    <result column="op_sharenum" property="opSharenum" jdbcType="INTEGER" />
    <result column="op_playnum" property="opPlaynum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    op_id, op_name, op_url, op_desc, op_photourl, op_updateto, op_type, op_iframeurl, 
    op_time, op_status, op_collectnum, op_sharenum, op_playnum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="guomanwang.domain.OperaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from opera
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from opera
    where op_id = #{opId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from opera
    where op_id = #{opId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="guomanwang.domain.OperaExample" >
    delete from opera
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="guomanwang.domain.Opera" >
    insert into opera (op_id, op_name, op_url, 
      op_desc, op_photourl, op_updateto, 
      op_type, op_iframeurl, op_time, 
      op_status, op_collectnum, op_sharenum, 
      op_playnum)
    values (#{opId,jdbcType=INTEGER}, #{opName,jdbcType=VARCHAR}, #{opUrl,jdbcType=VARCHAR}, 
      #{opDesc,jdbcType=VARCHAR}, #{opPhotourl,jdbcType=VARCHAR}, #{opUpdateto,jdbcType=VARCHAR}, 
      #{opType,jdbcType=VARCHAR}, #{opIframeurl,jdbcType=VARCHAR}, #{opTime,jdbcType=TIMESTAMP}, 
      #{opStatus,jdbcType=INTEGER}, #{opCollectnum,jdbcType=INTEGER}, #{opSharenum,jdbcType=INTEGER}, 
      #{opPlaynum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="guomanwang.domain.Opera" >
    insert into opera
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="opId != null" >
        op_id,
      </if>
      <if test="opName != null" >
        op_name,
      </if>
      <if test="opUrl != null" >
        op_url,
      </if>
      <if test="opDesc != null" >
        op_desc,
      </if>
      <if test="opPhotourl != null" >
        op_photourl,
      </if>
      <if test="opUpdateto != null" >
        op_updateto,
      </if>
      <if test="opType != null" >
        op_type,
      </if>
      <if test="opIframeurl != null" >
        op_iframeurl,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
      <if test="opStatus != null" >
        op_status,
      </if>
      <if test="opCollectnum != null" >
        op_collectnum,
      </if>
      <if test="opSharenum != null" >
        op_sharenum,
      </if>
      <if test="opPlaynum != null" >
        op_playnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="opId != null" >
        #{opId,jdbcType=INTEGER},
      </if>
      <if test="opName != null" >
        #{opName,jdbcType=VARCHAR},
      </if>
      <if test="opUrl != null" >
        #{opUrl,jdbcType=VARCHAR},
      </if>
      <if test="opDesc != null" >
        #{opDesc,jdbcType=VARCHAR},
      </if>
      <if test="opPhotourl != null" >
        #{opPhotourl,jdbcType=VARCHAR},
      </if>
      <if test="opUpdateto != null" >
        #{opUpdateto,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        #{opType,jdbcType=VARCHAR},
      </if>
      <if test="opIframeurl != null" >
        #{opIframeurl,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opStatus != null" >
        #{opStatus,jdbcType=INTEGER},
      </if>
      <if test="opCollectnum != null" >
        #{opCollectnum,jdbcType=INTEGER},
      </if>
      <if test="opSharenum != null" >
        #{opSharenum,jdbcType=INTEGER},
      </if>
      <if test="opPlaynum != null" >
        #{opPlaynum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="guomanwang.domain.OperaExample" resultType="java.lang.Integer" >
    select count(*) from opera
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update opera
    <set >
      <if test="record.opId != null" >
        op_id = #{record.opId,jdbcType=INTEGER},
      </if>
      <if test="record.opName != null" >
        op_name = #{record.opName,jdbcType=VARCHAR},
      </if>
      <if test="record.opUrl != null" >
        op_url = #{record.opUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.opDesc != null" >
        op_desc = #{record.opDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.opPhotourl != null" >
        op_photourl = #{record.opPhotourl,jdbcType=VARCHAR},
      </if>
      <if test="record.opUpdateto != null" >
        op_updateto = #{record.opUpdateto,jdbcType=VARCHAR},
      </if>
      <if test="record.opType != null" >
        op_type = #{record.opType,jdbcType=VARCHAR},
      </if>
      <if test="record.opIframeurl != null" >
        op_iframeurl = #{record.opIframeurl,jdbcType=VARCHAR},
      </if>
      <if test="record.opTime != null" >
        op_time = #{record.opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.opStatus != null" >
        op_status = #{record.opStatus,jdbcType=INTEGER},
      </if>
      <if test="record.opCollectnum != null" >
        op_collectnum = #{record.opCollectnum,jdbcType=INTEGER},
      </if>
      <if test="record.opSharenum != null" >
        op_sharenum = #{record.opSharenum,jdbcType=INTEGER},
      </if>
      <if test="record.opPlaynum != null" >
        op_playnum = #{record.opPlaynum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update opera
    set op_id = #{record.opId,jdbcType=INTEGER},
      op_name = #{record.opName,jdbcType=VARCHAR},
      op_url = #{record.opUrl,jdbcType=VARCHAR},
      op_desc = #{record.opDesc,jdbcType=VARCHAR},
      op_photourl = #{record.opPhotourl,jdbcType=VARCHAR},
      op_updateto = #{record.opUpdateto,jdbcType=VARCHAR},
      op_type = #{record.opType,jdbcType=VARCHAR},
      op_iframeurl = #{record.opIframeurl,jdbcType=VARCHAR},
      op_time = #{record.opTime,jdbcType=TIMESTAMP},
      op_status = #{record.opStatus,jdbcType=INTEGER},
      op_collectnum = #{record.opCollectnum,jdbcType=INTEGER},
      op_sharenum = #{record.opSharenum,jdbcType=INTEGER},
      op_playnum = #{record.opPlaynum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="guomanwang.domain.Opera" >
    update opera
    <set >
      <if test="opName != null" >
        op_name = #{opName,jdbcType=VARCHAR},
      </if>
      <if test="opUrl != null" >
        op_url = #{opUrl,jdbcType=VARCHAR},
      </if>
      <if test="opDesc != null" >
        op_desc = #{opDesc,jdbcType=VARCHAR},
      </if>
      <if test="opPhotourl != null" >
        op_photourl = #{opPhotourl,jdbcType=VARCHAR},
      </if>
      <if test="opUpdateto != null" >
        op_updateto = #{opUpdateto,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        op_type = #{opType,jdbcType=VARCHAR},
      </if>
      <if test="opIframeurl != null" >
        op_iframeurl = #{opIframeurl,jdbcType=VARCHAR},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opStatus != null" >
        op_status = #{opStatus,jdbcType=INTEGER},
      </if>
      <if test="opCollectnum != null" >
        op_collectnum = #{opCollectnum,jdbcType=INTEGER},
      </if>
      <if test="opSharenum != null" >
        op_sharenum = #{opSharenum,jdbcType=INTEGER},
      </if>
      <if test="opPlaynum != null" >
        op_playnum = #{opPlaynum,jdbcType=INTEGER},
      </if>
    </set>
    where op_id = #{opId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="guomanwang.domain.Opera" >
    update opera
    set op_name = #{opName,jdbcType=VARCHAR},
      op_url = #{opUrl,jdbcType=VARCHAR},
      op_desc = #{opDesc,jdbcType=VARCHAR},
      op_photourl = #{opPhotourl,jdbcType=VARCHAR},
      op_updateto = #{opUpdateto,jdbcType=VARCHAR},
      op_type = #{opType,jdbcType=VARCHAR},
      op_iframeurl = #{opIframeurl,jdbcType=VARCHAR},
      op_time = #{opTime,jdbcType=TIMESTAMP},
      op_status = #{opStatus,jdbcType=INTEGER},
      op_collectnum = #{opCollectnum,jdbcType=INTEGER},
      op_sharenum = #{opSharenum,jdbcType=INTEGER},
      op_playnum = #{opPlaynum,jdbcType=INTEGER}
    where op_id = #{opId,jdbcType=INTEGER}
  </update>
  <select id="selectAllCollectOpera" parameterType="int" resultMap="BaseResultMap">
     select * from opera,op_collected where user_id=#{userId} and op_id = opera_id 
  </select>
</mapper>